{{#section 'head'}}
    <script type="text/javascript" src="src/components/authorization/js/Authorize.js"></script>

    <title>Authorize Service</title>

{{/section}}

{{#section 'main'}}
    <section class="gpiic-oauth-authorization gpii-oauth-panel small-10 large-6 small-centered columns">
        <div class="gpii-oauth-activeUser clearfix">
            <span class="right">
                <span class="gpii-icon gpii-icon-profile" role="presentation"></span>
                <span class="gpiic-oauth-authorization-user gpii-oauth-userName"></span>
                <a href=""><strong class="gpiic-oauth-authorization-logout"></strong></a>
            </span>
        </div>

        <p class="gpiic-oauth-authorization-description"></p>

        <form action="/authorize_decision" method="post">
            <input type="hidden" class="gpiic-oauth-authorization-transaction" name="transaction_id" value="">
            <input type="submit" class="gpiic-oauth-authorization-allow button radius" name="allow" value="">
            <input type="submit" class="gpiic-oauth-authorization-cancel button radius" name="cancel" value="">
        </form>

        <p class="gpiic-oauth-authorization-directions"></p>
    </section>

    <script>
        gpii.oauth.authorization(".gpiic-oauth-authorization", {
            model: {
                user: "{{user.username}}",
                service: "{{client.name}}",
                transactionID: "{{ transactionID }}"
            }
        });
    </script>
{{/section}}
