{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="lib/infusion/src/framework/core/css/fluid.css" />
    <link rel="stylesheet" type="text/css" href="src/components/css/authorize.css" />

    <script type="text/javascript" src="lib/infusion/infusion-renderer.js"></script>
    <script type="text/javascript" src="src/components/js/authorize.js"></script>

    <title>Authorize Service</title>

{{/section}}

<section class="gpiic-oauth-authorization gpii-oauth-authorization fl-centered">
    <p class="gpiic-oauth-authorization-user"></p>

    <p class="gpiic-oauth-authorization-description"></p>

    <form action="/authorize_decision" method="post">
        <input type="hidden" class="gpiic-oauth-authorization-transaction" name="transaction_id" value="">
        <input type="submit" class="gpiic-oauth-authorization-allow" name="allow" value="">
        <input type="submit" class="gpiic-oauth-authorization-cancel" name="cancel" value="">
    </form>

    <p class="gpiic-oauth-authorization-directions"></p>
</section>

<script>
    gpii.oauth.authorization(".gpiic-oauth-authorization", {
        model: {
            user: "{{user.username}}",
            service: "{{client.name}}",
            transactionID: "{{ transactionID }}"
        }
    });
</script>
