<p>User: {{user.username}}</p>

<p>In order to personalise your experience, <strong>{{client.name}}</strong> would like to access your GPII preferences.</p>

<form action="/authorize_decision" method="post">
    <input name="transaction_id" type="hidden" value="{{ transactionID }}">
    <input type="submit" value="allow" id="allow">
</form>
