{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="src/components/login/css/Login.css" />
    <script type="text/javascript" src="src/components/login/js/Login.js"></script>

    <title>Login</title>

{{/section}}

{{#section 'main'}}
    <section class="gpiic-oauth-login gpii-oauth-panel small-10 large-8 small-centered columns">
        <h1 class="gpii-oauth-login-header">
            <span class="gpii-icon gpii-icon-password" role="presentation"></span>
            <span class="gpiic-oath-login-header">Heading</span>
        </h1>

        <p class="gpiic-oauth-login-instructions gpii-oauth-login-instructions"></p>

        <form id="gpiic-oauth-login-form" class="gpiic-oauth-login-form" action="/login" method="post">
            <div class="gpii-oauth-login-formPanel">
                <div class="gpii-oauth-login-formFields">
                    <label class="gpiic-oauth-login-usernameLabel" for="gpiic-oauth-login-usernameInput">Username</label>
                    <div class="gpii-oauth-login-username">
                        <span class="gpii-icon gpii-icon-profile prefix" role="presentation"></span>
                        <input id="gpiic-oauth-login-usernameInput" class="gpiic-oauth-login-usernameInput" type="text" name="username"/>
                    </div>

                    <div class="gpii-oauth-login-passwordMsgContainer">
                        <label class="gpiic-oauth-login-passwordLabel" for="gpiic-oauth-login-passwordInput">Password</label>
                        <span class="gpii-oauth-login-passwordMsg">
                            <span class="gpiic-oauth-login-error gpii-oauth-login-error"></span>
                            <span class="gpiic-oauth-login-errorIcon gpii-icon gpii-icon-exclamation" role="presentation"></span>
                        </span>
                    </div>
                    <div class="gpii-oauth-login-password">
                        <span class="gpii-icon gpii-icon-password prefix" role="presentation"></span>
                        <input id="gpiic-oauth-login-passwordInput" class="gpiic-oauth-login-passwordInput" type="password" name="password"/>
                    </div>
                </div>
            </div>
            <div class="gpii-oauth-footer">
                <a href="" class="gpii-oauth-login-cancel"><strong class="gpiic-oauth-login-cancel"></strong></a>
                <input type="submit" class="gpiic-oauth-login-submit gpii-oauth-login-submit button radius" name="log in" value=""/>
            </div>
        </form>
    </section>

    <script>
        gpii.oauth.login(".gpiic-oauth-login", {
            model: {
                loginFailure: {{loginFailed}}
            }
        });
    </script>
{{/section}}
