{{#section 'head'}}
    <title>Login</title>
{{/section}}

<h1>Log in</h1>

<form action="/login" method="post">
    <div>
        <label>Enter email or username</label><br>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password</label><br>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="log in"/>
    </div>
</form>
