{{#section 'head'}}
    <title>Privacy Settings</title>
{{/section}}

<h1>Privacy</h1>

<p>User: {{user.username}}</p>

<p><strong>Allow the following services to access my preferences:</strong></p>

<form action="/remove_authorization" method="post">

<ul>
    {{#each authorizedServices}}
        <li>{{serviceName}} <button type="submit" name="remove" value="{{authDecisionId}}">remove</button></li>
    {{/each}}
</ul>

</form>
